/* Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class^="col-"]{
  float: left;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}
/* HADER */
/* NAVBAR FIXED LEFT*/
.navbar-fixed {
  background-color: #f4f9fd;
  font-size: 20px;
  border-bottom: 1px solid black;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav ul li , nav ul li {
  display: inline-block;
  padding: 0 10px;
  margin: 25px 0;
}

ul li a {
  text-decoration: none;
  color: black ;
}

ul {
  list-style: none;
  display: inline-block;
}

.border-left {
  border-left: 1px solid black;
}
/* NAVBAR FIXED LEFT*/
/* NAVBAR FIXED RIGHT*/

.navbar-fixed-right {
  float: right;
}

.btn {
  border-radius: 7px;
  background-color: white;
  padding: 6px 15px;
}

.log-in {
  color: #fe7d62;
  border: 1px solid #fe7d62;
}

.free {
background-color: #fe7d62;
color: white;
}
/* NAVBAR FIXED RIGHT*/
/* SECONDARY-NAVBAR */

.navbar-2 {
  margin-top:75px;
}

.secondary-nav {
  height: 80px;
  line-height: 80px;
}

nav.secondary-nav ul {
  float: right;
}

nav.secondary-nav ul li {
  margin: 0 auto;
}

/* SECONDARY-NAVBAR */
/* JUMBO */
.jumbo {
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff3ee;
  position: relative;
}

.jumbo-container {
  width: 80%;
  margin: 0 auto;
  height: 700px;
}

.jumbo-h1 {
  font-size: 50px;
  margin-top: 25px;
  width: 45%;
}

.jumbo-txt {
  width: 55%;
  margin: 25px 0;
  line-height: 3;
}

.jumbo-btn {
  padding: 20px 15px;
}

.jumbo-road {
  width: 100%;
  height: 85px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #afebe4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* JUMBO */
/* HADER */
/* MAIN */
/* MAIN-TOP */



/* MAIN-TOP */
/* MAIN */
/* UTILITY */

.pad-lr-10{
  padding: 0 10PX;
}

.pad-t-23 {
  padding-top: 23px;
}

.mr-15 {
  margin-right: 25px;
}

/* UTILITY */
