/* Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class^="col-"]{
  float: left;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}
/* HADER */
/* NAVBAR FIXED LEFT*/
.navbar-fixed {
  background-color: #f4f9fd;
  font-size: 20px;
  border-bottom: 1px solid black;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav ul li , nav ul li {
  display: inline-block;
  padding: 0 10px;
  margin: 25px 0;
}

ul li a {
  text-decoration: none;
  color: black ;
}

ul {
  list-style: none;
  display: inline-block;
}

.border-left {
  border-left: 1px solid black;
}
/* NAVBAR FIXED LEFT*/
/* NAVBAR FIXED RIGHT*/

.navbar-fixed-right {
  float: right;
}

.btn {
  border-radius: 3px;
  background-color: white;
  padding: 6px 15px;
}

.log-in {
  color: #fe7d62;
  border: 1px solid #fe7d62;
}

.free {
background-color: #fe7d62;
color: white;
}
/* NAVBAR FIXED RIGHT*/
/* SECONDARY-NAVBAR */

.navbar-2 {
  margin-top:75px;
}

.secondary-nav {
  height: 80px;
  line-height: 80px;
}

nav.secondary-nav ul {
  float: right;
}

nav.secondary-nav ul li {
  margin: 0 auto;
}

/* SECONDARY-NAVBAR */
/* JUMBO */
.jumbo {
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff3ee;
  position: relative;
}

.jumbo-container {
  margin: 0 auto;
  height: 700px;
}

.jumbo-h1 {
  font-size: 50px;
  padding-top: 50px;
  width: 45%;
}

.jumbo-txt {
  width: 55%;
  margin: 25px 0;
  line-height: 3;
}

.jumbo-road {
  width: 100%;
  height: 85px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #afebe4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* JUMBO */
/* HADER */
/* MAIN */
/* MAIN-TOP */
.main-top {
  line-height: 2;
  background-color: #f4f9fd
}

.container-50 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.logo-main {
  height: 200px;
  padding: 25px 0;
}

 h2 {
  font-size: 30px;
}

.height-main-img {
  height: 100px ;
  margin: 25px 35%;
  display: block;
}

.in-line-list {
  display: inline-block;
  padding: 0 10px;
}

.main-h3 {
  font-size: 25px;
  margin: 10px 0;
}

.divisorio {
  height: 2px;
  width: 70%;
  background-color: gray;
  display: inline-block;
  margin-left: 30px;
}

#main-h4-top {
  display: inline-block;
}

.main-h4 {
  margin: 10px 0;
}

/* MAIN-TOP */
/* MAIN-MIDDLE */

.main-middle {
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  color: white;
  margin-top: 50px;
  padding: 50px 0;
}

.middle-header {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.stats {
  text-align: center;
}

.bord-bot {
  border-bottom: 1px solid white;
}

.bord-right {
  border-right: 1px solid white;
}

div.col-25 h3 span {
  font-size: 40px;
  vertical-align: middle;
}

.piu {
  vertical-align: middle;
  font-weight: normal;
  font-size: 20px;
  display: inline-block;
}

.sponsors {
  position: relative;
}


.tab-sponsors {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 60%;
}

ul.tab-sponsors li{
  display: inline-block;
}

ul.tab-sponsors li img {
  max-height: 40px;
  vertical-align: middle;
}

/* MAIN-MIDDLE */

/* MAIN */
/* UTILITY */

.col-25 {
  width: 25%;
  padding: 20px 0;
}

.col-30 {
  width: 30%;
  text-align: center;
}

.col-70 {
  width: 70%;
}

.col-100{
  width: 100%;
}

.pad-5 {
  padding: 5%;
}

.pad-lr-10{
  padding: 0 10PX;
}

.pad-t-23 {
  padding-top: 23px;
}

.pad-b-1 {
  padding-bottom: 30px;
}

.mrg-1 {
  margin: 25px 35%;
}

.mr-5 {
  margin-right: 5%;
}

.mr-15 {
  margin-right: 25px;
}

.mb-1 {
  margin-bottom: 20px;
}

.btn-big {
  padding: 20px 15px;
}

.bg-white{
  background-color: white ;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 50px;
}

.color-orange {
  color: #fe7d62;
  margin-right: 10px;
}
/* UTILITY */
